<template>
	<div class="content Commoditytype">
		<el-row :gutter="20">
			<!--活动管理左侧-->
			<el-col :span="7">
				<!--<div class="text-right">-->
					<!--<el-button type="text"><i class="el-icon-plus"></i>增加</el-button>-->
				<!--</div>-->
				<div class="LeftManagement">
					<!-- <span class="Lefttreetitel">商品类型 <el-button type="text" style="margin-left: 20px;" @click="Typeappend"><i class='el-icon-plus'></i></el-button></span> -->
					<!--树控件-->
                    <el-table :data="activityData" highlight-current-row @current-change="treeclick" style="min-height: 800px;">
                        <el-table-column prop="name" label="活动类型"></el-table-column>
                    </el-table>
					<!-- <el-tree :expand-on-click-node="false" :props="{label: 'name'}" :data="activityData" node-key="id"  @node-click="treeclick">
					</el-tree> -->
				</div>
			</el-col>
			<!--活动管理右侧-->
			<el-col :span="16">
				<div class="RightManagement">
					<section class="list">
                        <div style="width:70%">
                            <el-form label-width="100px">
                                <el-form-item label="活动类型编码">
                                    <el-input v-model="Typename.activiType" :disabled="true"></el-input>
                                </el-form-item>
                                <el-form-item label="活动名称">
                                    <el-input v-model="Typename.activityName" :disabled="true"></el-input>
                                </el-form-item>
                                <el-form-item :label="this.activityName2" v-if="this.Typename.activiType != 'double_half_price'">
                                    <el-input v-model="Typename.describe" :disabled="DescribeAsh"></el-input>
                                </el-form-item>
                                <el-form-item label="满减活动减***"  v-if="Typename.activiType == 'full_reduction'">
                                    <el-input  v-model="Typename.reduce" :disabled="DescribeAsh"></el-input>
                                </el-form-item>
                                <el-form-item label="件数"  v-if="Typename.activiType == 'element_piece'">
                                    <el-input  v-model="Typename.chief" :disabled="DescribeAsh"></el-input>
                                </el-form-item>
                                <el-form-item label="活动时间" v-if="Typename.startTime">
                                    <el-date-picker v-model="Typename.startTime" type="datetime" placeholder="选择日期时间" :disabled="DescribeAsh"></el-date-picker>
                                    到
                                    <el-date-picker v-model="Typename.endTime" type="datetime" placeholder="选择日期时间" :disabled="DescribeAsh"></el-date-picker>
                                </el-form-item>
                                <el-form-item label="图片" prop="filePath">
                                    <el-upload
                                            class="Fileupload"
                                            action="/plat/file/upload"
                                            :show-file-list="false"
                                            :on-success="handleAvatarSuccess" :on-remove="handleRemove" :disabled="DescribeAsh">
                                        <img v-if="Typename.filePath" :src="Typename.filePath" class="avatar">
                                        <i v-if="!Typename.filePath" class="el-icon-plus avatar-uploader-icon"></i>
                                    </el-upload>
                                </el-form-item>
                                <el-form-item>
                                    <el-button type="danger" @click="Typeappend" v-if="!Typename.startTime">增加</el-button>
                                    <el-button type="danger" @click="commomodify">修改</el-button>
                                    <el-button type="primary" v-if="commodityPreservation" @click="Commoditypreser">保存</el-button>
                                    <el-button type="primary" v-if="commodityPreservation" @click="Cancel">取消</el-button>
                                    <el-button type="primary" @click="Goodsassociated">商品关联</el-button>
                                </el-form-item>
                            </el-form>
                        </div>
					</section>
				</div>
			</el-col>
		</el-row>
        <!--添加弹窗-->
        <el-dialog :visible.sync="AppendPopup">
            <span slot="title" class="Increasetitle">{{ LeftIncreasetitle }}</span>
            <el-form :model="ruleForm" label-width="110px" :rules="rules" ref="ruleForm">
                <el-form-item label="活动类型编码">
                    <el-input v-model="ruleForm.activiType" :disabled="true"></el-input>
                </el-form-item>
                <el-form-item label="活动名称">
                    <el-input v-model="ruleForm.activityName" :disabled="true"></el-input>
                </el-form-item>
                <el-form-item :label="this.activityName" prop="Describe" v-if="ruleForm.activiType != 'double_half_price'">
                    <el-input v-model="ruleForm.Describe"></el-input>
                </el-form-item>
                <el-form-item label="减***" prop="Describe"  v-if="ruleForm.activiType == 'full_reduction'">
                    <el-input  v-model="ruleForm.reduce"></el-input>
                </el-form-item>
                <el-form-item label="***件***元(元)" prop="Describe"  v-if="ruleForm.activiType == 'element_piece'">
                    <el-input  v-model="ruleForm.chief"></el-input>
                </el-form-item>
                <el-form-item label="活动时间" prop="startTime">
                    <el-date-picker v-model="ruleForm.startTime" type="datetime" placeholder="选择日期时间"></el-date-picker>
                    到
                    <el-date-picker v-model="ruleForm.endTime" type="datetime" placeholder="选择日期时间"></el-date-picker>
                </el-form-item>
                <el-form-item label="图片" prop="filePath">
                    <el-upload
                            class="Fileupload"
                            action="/plat/file/upload"
                            :show-file-list="false"
                            :on-success="handleAvatarSuccess2">
                        <img v-if="ruleForm.filePath" :src="ruleForm.filePath" class="avatar">
                        <i v-if="!ruleForm.filePath" class="el-icon-plus avatar-uploader-icon"></i>
                    </el-upload>
                </el-form-item>
                <el-form-item style="text-align: right;">
                    <el-button type="primary" @click="AppendPopupCancel">取消</el-button>
                    <el-button type="primary" @click="AppendPopupSure('ruleForm')">确定</el-button>
                </el-form-item>
            </el-form>
        </el-dialog>

        <!-- 商品关联 -->
        <el-dialog :visible.sync="Associated">
            <!-- 查询内容 -->
            <section>
                <el-table :data="Brandtype" @selection-change="BrandChange">
                    <el-table-column type="selection" width="55"></el-table-column>
                    <el-table-column prop="type" label="商品类型" width='100'></el-table-column>
                    <el-table-column prop="goodsId" label="商品编号" width='300'></el-table-column>
                    <el-table-column prop="goodsName" label="商品名称" width='200'></el-table-column>
                    <el-table-column prop="originalPrice" label="售价" width='60'></el-table-column>
                    <el-table-column prop="promotionPrice" label="促销价" width='60'></el-table-column>
                    <el-table-column prop="vipPrice" label="会员价" width='60'></el-table-column>
                    <el-table-column prop="smallImage" label="小图" width='700'></el-table-column>
                    <el-table-column prop="largeImage" label="大图" width='700'></el-table-column>
                    <el-table-column prop="sellCount" label="销售量" width='60'></el-table-column>
                    <el-table-column prop="surplusCount" label="剩余数量" width='60'></el-table-column>
                    <el-table-column prop="sketch" label="简述" width='200'></el-table-column>
                    <el-table-column prop="qualityDate" :formatter="dateFormat" label="保质期" width='150'></el-table-column>
                    <el-table-column prop="place" label="产地" width='100'></el-table-column>
                    <el-table-column prop="goodsWeight" label="商品重量" width='100'></el-table-column>
                    <el-table-column prop="unit" label="单位" width='100'></el-table-column>
                    <el-table-column prop="brand" label="品牌" width='100'></el-table-column>
                    <el-table-column prop="length" label="长度" width='100'></el-table-column>
                    <el-table-column prop="width" label="宽度" width='100'></el-table-column>
                    <el-table-column prop="height" label="高度" width='100'></el-table-column>
                    <el-table-column prop="upc" label="UPC码" width='100'></el-table-column>
                    <el-table-column prop="describe" label="描述" width='200'></el-table-column>
                </el-table>
            </section>
            <div class="Brandsavecss">
                <el-button type="primary" @click="Brandsave">保存</el-button>
            </div>
        </el-dialog>
	</div>
</template>

<script>
    import axios from '@/views/Userlimit/userlimit'
    import moment from 'moment';
    export default {
        data(){
            return{
                types: '',
                // 保存商品内容
                BrandChangecontent: [],
                // 商品类型内容
                Brandtype: [],
                // 是否显示活动管理弹窗，false影藏，true显示
                Associated: false,
                // 添加时侯的校验
                rules: {
                    Describe: [
                        {required: true, message: '请输入活动', trigger: 'blur' }
                    ],
                    startTime: [
                        {required: true, message: '请输入时间' }
                    ],
                    // filePath: [
                    //     {required: true, message: '请添加图片' }
                    // ],
				},
				// 增加弹框所填内容
                ruleForm: {
                    filePath: '',
                    // 类型
                    activiType: '',
                    // 描述
                    activityName: '',
                },
                images:{},
                // 弹窗头部title
                LeftIncreasetitle: '',
                // 左侧添加弹窗
                AppendPopup: false,
                // 是否显示保存按钮，fasle为隐藏，true为显示
                commodityPreservation: false,
                // 右侧输入框是否置灰,true为置灰,false为高亮
                DescribeAsh: true,
                // 点击树控件返回的单个数据
                Typename: {},
                // 左侧树结构data
                activityData: [],
                // 左侧添加弹框中的活动名称
                activityName: "",
                // 右侧的活动名称
                activityName2: ""
            }
        },
        created() {
            this.LeftTrees()
        },
        methods: {
            BrandChange(val) {
                this.BrandChangecontent=val
            },
            // 关联商品保存按钮事件
            Brandsave () {
                let goodsIdes = []
                let prams
                this.BrandChangecontent.forEach(function(data){
                    goodsIdes.push(data.goodsId)
                })
                prams = {activityType : this.types, goodsIds : goodsIdes}
                console.log(prams)
                axios.Goodsassociated(prams).then(data => {
                    this.$message({
                        message: '关联成功',
                        type: 'success'
                    });
                    this.Associated = false
                })
            },
            // 转换获取时间
            dateFormat:function(row,column) {
                var data = row[column.property];
                if(data ==undefined) {
                    return '';
                }
                return moment(data).format("YYYY-MM-DD")
            },
            // 商品类型查询接口
            Itemtypequery () {
                axios.PostCommoditytype().then(data => {
                    this.Brandtype=data.data.items
                })
                
            },
            // 商品关联按钮点击事件
            Goodsassociated () {
                if (this.Typename.activiType) {
                    this.Associated = true
                    this.Itemtypequery() // 获取商品内容
                    this.types = this.Typename.activiType // 获取商品类型
                } else {
                    this.$message.error('请选择活动类型！');
                }
                
            },
            // 图片删除
            handleRemove(file, fileList) {
                console.log(file, fileList);
            },
            // 图片上传成功时候的事件
            handleAvatarSuccess (file) {
                this.Typename.filePath = file.filePath;
                this.Typename.fileOriginalName = file.fileOldName
                this.Typename.fileName = file.fileName
                this.$message({
                    message: '上传成功',
                    type: 'success'
                });
            },
            // 图片上传成功时候的事件
            handleAvatarSuccess2 (file) {
                let that=this
                that.ruleForm.filePath = file.filePath;
                that.ruleForm.fileOriginalName = file.fileOldName
                that.ruleForm.fileName = file.fileName
                console.log(that.ruleForm.filePath)
                that.$message({
                    message: '上传成功',
                    type: 'success'
                });
            },
            // 右侧取消按钮事件
            Cancel () {
                this.commodityPreservation = false
                this.DescribeAsh = true
			},
            // 左侧树data
            LeftTrees () {
                axios.Getuserlimittype('activity').then(data => {
                    this.activityData=data.data
                })
            },
            // 左侧添加按钮事件
            Typeappend (data) {
                this.AppendPopup = true
                if (this.ruleForm.activiType == 'element_purch') {
                    this.activityName = '***元购金额'
                } else if (this.ruleForm.activiType == 'add_price_purch') {
                    this.activityName = '加价购***元'
                } else if (this.ruleForm.activiType == 'full_reduction') {
                    this.activityName = '满***'
                } else if (this.ruleForm.activiType == 'element_piece') {
                    this.activityName = '***件***元(件)'
                } else if (this.ruleForm.activiType == 'limit_time_discount') {
                    this.activityName = '限时折扣 折扣 以0.**方式存储'
                }
            },
            // 左侧弹窗的取消按钮事件
            AppendPopupCancel () {
                this.ruleForm.Types = ''
				this.ruleForm.Describe = ''
				this.ruleForm.Typenames = ''
                this.AppendPopup = false
            },
            // 左侧弹窗的确定按钮事件
            AppendPopupSure (formName) {
                this.$refs[formName].validate((valid) => {
                    if(valid){
                        if (this.ruleForm.activiType == 'element_purch') {
                            this.ruleForm.yg = this.ruleForm.Describe
                        }else if(this.ruleForm.activiType == 'add_price_purch') {
                            this.ruleForm.addPrice = this.ruleForm.Describe
                        }else if(this.ruleForm.activiType == 'full_reduction') {
                            this.ruleForm.full = this.ruleForm.Describe
                        }else if(this.ruleForm.activiType == 'element_piece') {
                            this.ruleForm.piece = this.ruleForm.Describe
                        }else if(this.ruleForm.activiType == 'limit_time_discount') {
                            this.ruleForm.discount = this.ruleForm.Describe
                        }
                        if (this.ruleForm.startTime) {
                            this.ruleForm.startTime = moment(this.ruleForm.startTime/1000).valueOf()
                        }
                        if (this.ruleForm.endTime) {
                            this.ruleForm.endTime = moment(this.ruleForm.endTime/1000).valueOf()
                        }
                        let prams = this.ruleForm
                        console.log(prams)
                        axios.Addactivityinformation (prams).then(res => {
                            if(res){
                                this.AppendPopup = false
                                this.LeftTrees()
                            }
                        }).catch(() => {});
                    }
				})
            },
            //点击保存按钮事件
            Commoditypreser () {
                if (this.Typename.activiType == 'element_purch') {
                    this.Typename.yg = this.Typename.describe
                }else if(this.Typename.activiType == 'add_price_purch') {
                    this.Typename.addPrice = this.Typename.describe
                }else if(this.Typename.activiType == 'full_reduction') {
                    this.Typename.full = this.Typename.describe
                }else if(this.Typename.activiType == 'element_piece') {
                    this.Typename.piece = this.Typename.describe
                }else if(this.Typename.activiType == 'limit_time_discount') {
                    this.Typename.discount = this.Typename.describe
                }
                if (this.Typename.startTime) {
                    this.Typename.startTime = moment(this.Typename.startTime/1000).valueOf()
                }
                if (this.Typename.endTime) {
                    this.Typename.endTime = moment(this.Typename.endTime/1000).valueOf()
                }
                let prams=this.Typename
                axios.Modifyactivityinformation(prams).then(res => {
                    if(res){
                        this.commodityPreservation = false
                        this.DescribeAsh = true
                    }
                })
            },
            // 点击修改按钮事件
            commomodify () {
                if (!this.Typename.activiType) {
                    this.$message.error('请先添加活动!');
                }else{
                    this.commodityPreservation = true
                    this.DescribeAsh = false
                }
                
            },
            // 点击树控件的事件
            treeclick (data) {
                console.log(data)
                this.ruleForm={
                    activiType: data.code,
                    activityName :data.name
                }
                let prams = {activiType: data.code,activityName :data.name}
                axios.Queryactivityinformation(prams).then(res => {
                    if(res){
                        this.Typename = res.data
                        if (this.Typename.activiType == 'element_purch') {
                            this.Typename.describe = this.Typename.yg
                            this.activityName2 = '***元购金额'
                        }else if(this.Typename.activiType == 'add_price_purch') {
                            this.Typename.describe = this.Typename.addPrice
                            this.activityName2 = '加价购***元'
                        }else if(this.Typename.activiType == 'full_reduction') {
                            this.Typename.describe = this.Typename.addPrice
                            this.activityName2 = '满***'
                        }else if(this.Typename.activiType == 'element_piece') {
                            this.Typename.describe = this.Typename.piece
                            this.activityName2 = '***件***元(件)'
                        }else if(this.Typename.activiType == 'limit_time_discount') {
                            this.Typename.describe = this.Typename.discount
                            this.activityName2 = '限时折扣 折扣 以0.**方式存储'
                        }else{
                            this.activityName2 = '活动'
                        }
                    }
                })
            },
            // 树控件右侧增加按钮
            // renderContent (h, { node, data, store }) {
            //     return (
            //         <span class="custom-tree-node">
            //             <span><i class='el-icon-goods'></i>{node.label}</span>
            //             <span style='padding-left: 30px;'>
            //                 <el-button type="text" on-click={ () => this.Typeappend(data) } ><i class='el-icon-plus'></i></el-button>
            //             </span>
            //         </span>
            //     );

            // }
        }
    }

</script>

<style scoped>
    .Brandsavecss{
        margin-top: 20px;
        text-align: right;
    }
	.Lefttreetitel{
		display: block;
		height: 40px;
		line-height: 40px;
		padding-left: 25px;
        font-size: 16px;
	}
    .Increasetitle{
        font-size:24px;
        margin-left: 50%;
    }
    .custom-tree-span{
        padding-left: 30px;
    }
    .custom-tree-node{
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 14px;
        padding-right: 8px;
    }
	.list{
		width: 96%;
		border:1px solid #cccccc;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		min-height: 800px;
		padding-top: 30px;
        padding-left: 10%;
	}
	.LeftManagement{
		border:1px solid #cccccc;
		min-height: 800px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
        overflow: hidden;
	}
	.text-right{
		text-align: right;
	}
	.lf{
		float:left;
	}
	.rg{
		float:right;
	}
	.content{
		padding-top:30px;
	}
	.el-table{
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
	}
	.el-tree{
		border: none;
	}
</style>
<style>
    .Commoditytype .el-tree span{
        font-size: 16px;
    }
    .Commoditytype .is-current{
        background: #d1dbe5;
    }
    .el-breadcrumb{
        font-size: 16px;
    }+ 
    .el-menu-item,.el-submenu__title{
        font-size: 16px;
    }
</style>