<template>
    <div class="control">
        <el-col :span="6" style="margin-right: 80px;">
            <div class="LeftManagement">
                <!--树控件-->
                <span class="pointer addLeft" @click="addTit">添加</span>
                <el-tree
                :data="controlData"
                :props="{label: 'name'}"
                node-key="id"
                highlight-current
                :expand-on-click-node="false"
                :render-content="renderContent">
                </el-tree>
            </div>
        </el-col>
        <!--商品管理右侧-->
        <el-col :span="15">
            <section class="list">
                <div style="width:70%">
                    <el-form label-width="80px">
                        <el-form-item label="名称">
                            <el-input v-model="controlItem.name" :disabled="disabledShow"></el-input>
                        </el-form-item>
                        <el-form-item label="url地址">
                            <el-input v-model="controlItem.url" :disabled="disabledShow"></el-input>
                        </el-form-item>
                        <el-form-item label="功能标识">
                            <el-input v-model="controlItem.code" :disabled="disabledShow"></el-input>
                        </el-form-item>
                        <el-form-item label="icon图标">
                            <el-input v-model="controlItem.icon" :disabled="disabledShow">
                                <template slot="append"><div class="icon-select" @click="iconShowClick">...</div></template>
                            </el-input>
                        </el-form-item>
                        <el-form-item label="排序值">
                            <el-input v-model="controlItem.order" :disabled="disabledShow"></el-input>
                        </el-form-item>
                        <el-form-item>
                            <el-button type="danger" v-if="!modifyShow" @click="commomodify">修改</el-button>
                            <el-button type="primary" v-if="modifyShow" @click="saveClick(controlItem)">保存</el-button>
                            <el-button type="primary" v-if="modifyShow" @click="cancelSave">取消</el-button>
                        </el-form-item>
                    </el-form>
                </div>
            </section>
        </el-col>
        <!-- 弹框 -->
        <el-dialog title="添加功能" :visible.sync="dialogShow" class="el-dialogt titadd-dialog" :show-close="false" :close-on-click-modal="false">
			<el-form :model="addItem" label-width="150px" size="small" class="add-form" :rules="rules" ref="addItem">
				<el-form-item label="名称" prop="name">
                    <el-input v-model="addItem.name"></el-input>
                </el-form-item>
                <el-form-item label="url地址" prop="url">
                    <el-input v-model="addItem.url"></el-input>
                </el-form-item>
                <el-form-item label="功能标识" prop="code">
                    <el-input v-model="addItem.code"></el-input>
                </el-form-item>
                <el-form-item label="icon图标" prop="icon">
                    <el-input v-model="addItem.icon">
                        <template slot="append"><div class="icon-select" @click="iconShow = true">...</div></template>
                    </el-input>
                </el-form-item>
                <el-form-item label="排序值" prop="order">
                    <el-input v-model="addItem.order"></el-input>
                </el-form-item>
				<el-form-item class="btn">
					<el-button type="primary" @click="confirmAdd(addItem, 'addItem')">确定</el-button>
					<el-button @click="cancelClick('addItem')">取消</el-button>
				</el-form-item>
			</el-form>
		</el-dialog>
        <!-- 字体弹框 -->
        <el-dialog title="选择字体" :visible.sync="iconShow" class="el-dialogt titadd-dialog icon-dialog" :show-close="false" :close-on-click-modal="false">
            <ul class="icon-list">
                <li v-for="(icon, index) in iconData" :key="index" @click="iconClick(icon)"><span>
                    <i :class="icon.className" aria-hidden="true"></i>
                    <span class="icon-name">{{icon.className}}</span>    
                </span></li>
            </ul>
            <div class="btn">
                <el-button type="primary" @click="iconSelect">确定</el-button>
                <el-button @click="iconCancle">取消</el-button>
            </div>
		</el-dialog>
    </div>
</template>

<script>
import axios from '@/views/Control/control'
export default {
    data () {
        return {
            iconData: [
                {className: 'fa fa-address-book'},
                {className: 'fa fa-area-chart'},
                {className: 'fa fa-id-card'},
                {className: 'fa fa-telegram'},
                {className: 'fa fa-user-circle'},
                {className: 'fa fa-bank'},
                {className: 'fa fa-book'},
                {className: 'fa fa-camera-retro'},
                {className: 'fa fa-clock-o'},
                {className: 'fa fa-cubes'},
                {className: 'fa fa-database'},
                {className: 'fa fa-edit'},
                {className: 'fa fa-envelope-open'},
                {className: 'fa fa-comment'},
                {className: 'fa fa-clone'},
                {className: 'fa fa-folder-open'},
                {className: 'fa fa-hdd-o'},
                {className: 'fa fa-navicon'},
                {className: 'fa fa-shopping-bag'}
            ],
            selectIcon: '',
            iconShow: false,
            // 左侧数据
            controlData: [],
            // 右侧数据
            controlItem: [],
            // 添加时侯的校验
            rules: {
                name: [
                    {required: true, message: '请输入名称', trigger: 'blur'}
                ],
                url: [
                    {required: true, message: '请输入url', trigger: 'blur' }
                ],
                code: [
                    {required: true, message: '请输入code', trigger: 'blur' }
                ],
                order: [
                    {required: true, message: '请输入order', trigger: 'blur' }
                ],
            },
            // 增加弹框所填内容
            addItem: {
                name: '',
                url: '',
                code: '',
                icon: '',
                order: '',
                parentId: 0

            },
            // 父级id
            parentId: '',
            // 弹框显示
            dialogShow: false,
            // 修改保存按钮显示
            modifyShow: false,
            // 修改框默认置灰
            disabledShow: true,
            // 修改之前的数据
            modifyBefore: []
        }
    },
    created () {
        this.queryData()
    },
    methods: {
        // 查询数据
        queryData () {
            axios.PostQueryData().then(data => {
                this.controlData = data.data
            })
        },
        // 添加弹出弹框
        addTit (data) {
            this.addItem.name = ''
            this.addItem.url = ''
            this.addItem.code = ''
            this.addItem.icon = ''
            this.addItem.order = ''
            this.addItem.parentId = ''
            this.parentId = data.id
            this.dialogShow = true
        },
        // 确认添加
        confirmAdd (data, rulesName) {
            this.$refs[rulesName].validate((valid) => {
                if(valid){
                    let param = {
                        url : data.url,
                        code : data.code,
                        name : data.name,
                        order : data.order,
                        icon : data.icon,
                        parentId : this.parentId
                    }
                    axios.PostAddData(param).then(data => {
                        this.dialogShow = false
                        this.queryData()
                    }).catch(() => {})
                }
            })
        },
        // 取消添加
        cancelClick (rulesName) {
            this.dialogShow = false
            this.$refs[rulesName].resetFields()
        },
        // 树形控件
        renderContent (h, { node, data, store }) {
            return (
                <span class="custom-tree-node">
                    <span class="tit" on-click={ () => this.queryItem(data, node) }>{node.label}</span>
                    <span class="btn">
                        <el-button size="mini" type="text" on-click={ () => this.addTit(data) }>添加</el-button>
                        <el-button size="mini" type="text" on-click={ () => this.remove(node, data) }>删除</el-button>
                    </span>
                </span>
            )
        },
        // 查询单个数据
        queryItem (data, node) {
            this.controlItem = data
        },
        // 删除数据
        remove (node, data) {
            this.$confirm('是否要删除该标题?', '提示', {
                confirmButtonText: '确定',
                cancelButtonText: '取消',
                type: 'warning'
            }).then(() => {
                let param = {id: data.id}
                axios.PostDelData (param).then(res => {
                    this.$message({
                        type: 'success',
                        message: '删除成功!'
                    });
                    this.queryData()
                }).catch(() => {})
			}).catch(() => {
                this.$message({
                    type: 'info',
                    message: '删除失败'
                })
            })
        },
        // 点击修改按钮
        commomodify () {
            if (this.controlItem.length == 0) {
                this.$message({
                    type: 'info',
                    message: '请选择修改的内容'
                })
                return
            }
            this.modifyShow = true
            this.disabledShow = false
        },
        // 保存按钮
        saveClick (param) {
            axios.PostModifyData(param).then(data => {
                this.modifyShow = false
                this.disabledShow = true
                this.dialogShow = false
                this.queryData()
            }).catch(() => {})
        },
        // 取消保存
        cancelSave () {
            this.modifyShow = false
            this.disabledShow = true
            this.controlItem = []
            this.queryData()
        },
        // 点击弹出icon弹框
        iconShowClick () {
            if (this.controlItem.length == 0) {
                this.$message({
                    type: 'info',
                    message: '请选择修改的内容'
                })
                return
            }
            if (this.modifyShow == false) {
                this.$message({
                    type: 'info',
                    message: '请点击修改按钮'
                })
                return
            }
            this.iconShow = true
        },
        // 点击icon获取icon名称
        iconClick (data) {
            this.selectIcon = data.className
        },
        // 选中icon把名称赋给input
        iconSelect () {
            this.iconShow = false
            if (this.dialogShow == true) {
                this.addItem.icon = this.selectIcon
            } else {
                this.controlItem.icon = this.selectIcon
            }
        },
        // 取消选择icon
        iconCancle () {
            this.iconShow = false
            this.queryData()
        }
    }
}
</script>
<style lang="scss">
.control{margin-top: 20px;
    .el-dialogt{
        .el-dialog--small{width: 34% !important;}
		.el-dialog__header{background: #0183fe;padding-bottom: 10px;}
		.el-dialog__title,.el-icon-close {color: #fff !important;}
		.el-form-item{width: 360px;}
		.el-form-item__label{width: 94px !important;color: #000;font-weight: bold;}
		.el-form-item__content{margin-left: 68px !important;
			.el-select{width: 260px;}
			.el-input{width: 260px;}
		}
		.btn{text-align: right;margin: 0;}
		.el-button{padding: 10px 30px;}
	}
    .el-tree{padding: 10px 0px;max-height: 346px;overflow-y: scroll;}
    .icon-select{display: inline-block;width: 30px;height: 24px;padding-top: 10px;text-align: center;}
    .custom-tree-node{
        .btn{float: right;padding-right: 16px;}
        .tit{display: inline-block;height: 100%;padding: 0 10px;}
    }
    .el-dialog--small{width: 600px;}
    .list{margin-top: 30px;border: 1px solid #ddd;padding-left: 40px;padding-top: 20px;}
    .pointer{cursor: pointer;}
    .addLeft{color: #0183fe;margin-bottom: 10px;display: inline-block;}
    .icon-dialog{
        .el-dialog--small{width: 60% !important}
        .icon-list{overflow-y: scroll;overflow-x: hidden;height: 240px;list-style: none;padding: 0;border: 1px solid #eaeefb;border-radius: 4px;
            li{float: left;width: 16.66%;text-align: center;height: 120px;line-height: 120px;color: #666;font-size: 13px;transition: color .15s linear;border-right: 1px solid #eee;border-bottom: 1px solid #eee;margin-right: -1px;margin-bottom: -1px;
                span{display: inline-block;line-height: normal;vertical-align: middle;
                    i{font-size: 40px;margin-bottom: 10px;display: block;}
                }
            }
        }
    }
}
</style>
