<template>
    <div>
        <div style="margin-bottom:10px;">
          <el-button type="primary" @click="roleadd">添加角色</el-button>
          <el-button type="primary" @click="roledel">删除角色</el-button>
          <el-button type="primary" @click="rolemondify">修改角色信息</el-button>
        </div>
        <el-dialog title="收货地址" :visible.sync="dialogFormVisible" :label-width="formLabelWidth">
            <el-form :model="addRole" :label-position="labelPosition">
                <el-form-item label="角色名称：" >
                    <el-input v-model="addRole.roleName" style="width:300px"></el-input>
                </el-form-item>
                <el-form-item label="角色标识：">
                    <el-input v-model="addRole.code" style="width:300px"></el-input>
                </el-form-item>
                <el-form-item label="备注：">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <el-input v-model="addRole.mark" style="width:300px"></el-input>
                </el-form-item>
            </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="dialogFormVisible = false">取 消</el-button>
            <el-button type="primary" @click="yes()">确 定</el-button>
        </div>
        </el-dialog>
         <el-dialog title="收货地址" :visible.sync="dialogFormVisible1" :label-width="formLabelWidth">
            <el-form v-model="postMondify" :label-position="labelPosition">
                <el-form-item label="角色名称：" >
                    <el-input v-model="postMondify.roleName" style="width:300px"></el-input>
                </el-form-item>
                <el-form-item label="角色标识：">
                    <el-input v-model="postMondify.code" style="width:300px"></el-input>
                </el-form-item>
                <el-form-item label="备注：">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <el-input v-model="postMondify.mark" style="width:300px"></el-input>
                </el-form-item>
            </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="dialogFormVisible1 = false">取 消</el-button>
            <el-button type="primary" @click="yesone()">确 定</el-button>
        </div>
         </el-dialog>
        <el-table
        ref="multipleTable"
        :data="tableData"
        tooltip-effect="dark"
        style="width: 100%"
        @selection-change="handleSelectionChange">
        <el-table-column
          type="selection"
          width="55">
        </el-table-column>
        <el-table-column
          prop="roleName"
          label="角色名称"
          width="120">
        </el-table-column>
        <el-table-column
          prop="code"
          label="角色标识 "
          show-overflow-tooltip>
        </el-table-column>
        <el-table-column
            prop="mark"
            label="备注">
        </el-table-column>
        <el-table-column
            fixed="right"
            label="操作"
            width="100%">
            <template slot-scope="scope">
                <el-button @click="role(scope.row)" type="text" size="small">关联用户</el-button>
                <el-button @click="shouquan(scope.row)" type="text" size="small">授权</el-button>
            </template>
        </el-table-column>
      </el-table>
<!-- 关联用户 -->
      <el-dialog
        :visible.sync="dialogVisible"
        width="30%"
        >
        <div>
            <el-table
        :data="list"
        class="table"
        ref="tab"
        row-key='id'
        @selection-change="handleSelectionChange1"
        :default-sort = "{prop: 'data',prder: 'descending'}"> 
            <el-table-column
            type="selection"
            width="55">
            </el-table-column>
            <el-table-column width="130px"
            prop="address"
            label="用户地址">
            </el-table-column>
            <el-table-column width="200px"
            prop="createTime"
            label="创建日期"
            :formatter="dateFormat"
            sortable>
            </el-table-column>
            <el-table-column width="200px"
            prop="limitTime"
            label="创建日期"
            :formatter="dateFormat"
            sortable>
            </el-table-column>
            <el-table-column width="200px"
            prop="tel"
            label="电话">
            </el-table-column>
            <el-table-column width="200px"
            prop="updateTime"
            label="更新时间"
            :formatter="dateFormat"
            sortable>
            </el-table-column>
            <el-table-column width="200px"
            prop="userName"
            label="用户名称">
            </el-table-column>
            <el-table-column width="200px"
            prop="weixin"
            label="用户微信">
            </el-table-column>
        </el-table>
        </div>
        <span slot="footer" class="dialog-footer">
            <el-button @click="dialogVisible = false">取 消</el-button>
            <el-button type="primary" @click="yestwo()">保 存</el-button>
        </span>
        </el-dialog>

<!-- 授权 -->
        <el-dialog
        title="授权"
        :visible.sync="dialogVisible1"
        width="30%"
        >
        <div>
            <authorization :orderId="orderId" @Disappearname='Disappearnames'></authorization>
        </div>
        </el-dialog>
         <div class="block">
      <el-pagination
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :current-page="currentPage"
        layout="total, prev, pager, next, jumper"
        :total="totalPage"
      ></el-pagination>
    </div>
    </div>
</template>
<script>
import axios from '@/views/Role/role'
import moment from "moment";
import authorization from '../Authorization/authorization.vue'
export default {
    data() {
      return {
        tableData: [],
        list:[],
        userId:[],
        rid:[],
        ids:'',
        uid:[],
        orderId:'',
        checked:false,
        dialogFormVisible: false,
        dialogFormVisible1: false,
        multipleSelection: [],
        dialogVisible: false,
        dialogVisible1: false,
        one:[],
        currentPage: 1,
        totalPage: 0,
        postMondify:{
            id:'',
            roleName:'',
            code:'',
            mark:''
        },
        formLabelWidth: '120px',
        labelPosition: 'right',
        addRole:{
            roleName:'',
            code:'',
            mark:''
        }
      }
    },
    components:{
        authorization
    },
    created() {
        this.postList();
        console.log(this.orderId)
    },
    watch:{
        list(n,o){
            this.$nextTick(()=> {
                var userid=[];
                var ids = []; 
                userid.push(this.list.map(item => item.id)); 
                // console.log( typeof(this.userId) )
                if (this.userId){
                    var userId = JSON.parse(JSON.stringify(this.userId[0])).split(',')
                    for(var j in this.list){
                        if(userId[j]==userid[0][j]){
                            this.$refs.tab.toggleRowSelection(this.list[j],true); 
                        }
                    }
                }
                // console.log(userid[0]);
                // console.log(userId); 
                
                
            })
        },
    },
    methods: {
        Disappearnames (data) {
            this.dialogVisible1 = data
        },
         handleSizeChange(val) {
        console.log(`每页 ${val} 条`);
        },
        handleCurrentChange(val) {
        this.currentPage = val;
        },
          dateFormat: function(row, column) {
        var data = row[column.property];
        if (data == undefined) {
            return "";
        }
        return moment(data).format("YYYY-MM-DD HH:mm:ss");
        },
        postList() {
            axios.roleQuery({
            }).then((res) => {
                this.tableData=res.data.items;
                this.currentPage = res.data.currentPage;
                this.totalPage = res.data.totalNum;
            }).catch((err) => {
                console.log(err)
            })
        },
        role(row) {
            this.ids=row.id;
            this.rid=this.ids;
            this.dialogVisible= true;
            axios.roleList({
            }).then((res) => {
                // console.log(res);
                this.list=res.data.items;
                
            }).catch((err) => {
                console.log(err);
            }),
            axios.roleUser(
                this.ids
            ).then((res) => {
                this.userId=res.data      
                console.log(this.userId)
            }).catch((err) => {
                console.log(err)
            });
        },
        shouquan(row) {
            this.orderId=row.id;
            this.dialogVisible1 =true;

        },
        yestwo () {
            axios.roleSave(
                this.uid,
                this.rid,
            ).then((res) => {
                console.log(res)
            }).catch((err) => {
                console.log(err)
            })
            this.dialogVisible= false;
           
        },
        roleadd() {
            this.dialogFormVisible=true;
        },
        yes(){
            axios.roleAdd({
                    roleName:this.addRole.roleName,
                    code:this.addRole.code,
                    mark:this.addRole.mark,
            }).then((res) => {
                this.postList();
            }).catch((err) => {
                console.log(err);
            })
            this.dialogFormVisible = false;
        },
        roledel() {
            var ids = [];
            ids.push(this.multipleSelection.map(item => item.id).join())
            console.log(ids);
            axios.roleDel(
                ids
            ).then((res) => {
                this.postList();
            }).catch((err) => {
                console.log(err);
            })
        },
        rolemondify() {
            this.dialogFormVisible1= true,
            console.log(this.postMondify.id);
            for(var i in this.multipleSelection){}
            this.postMondify.roleName = this.multipleSelection[i].roleName;
            this.postMondify.code = this.multipleSelection[i].code;
            this.postMondify.mark = this.multipleSelection[i].mark;
            this.postMondify.id = this.multipleSelection[i].id;
        },
        yesone() {
             axios.roleModify(
                {
                    id : this.postMondify.id,
                    code : this.postMondify.code,
                    mark : this.postMondify.mark,
                    roleName : this.postMondify.roleName,
                }
                ).then((res) => {
                    console.log(res);
                    this.postList();
            }).catch((err) =>{
                console.log(err);
            })
             this.dialogFormVisible1= false
        },
        toggleSelection(rows) {
        if (rows) {
          rows.forEach(row => {
            this.$refs.multipleTable.toggleRowSelection(row);
          });
        } else {
          this.$refs.multipleTable.clearSelection();
        }
      },
      handleSelectionChange(val) {
        for(var i in val){}
        this.multipleSelection = val;
      },
      handleSelectionChange1(rows){
        console.log(rows)
        this.multipleTable=rows;
        var uid=[];
        uid.push(rows.map(item => item.id));      
        this.uid=uid[0]
      }
    },
}
</script>
<style scoped>
</style>
