<template class='authoriaztion'>
    <div>
        <!-- 树结构 -->
        <el-tree ref="tree" show-checkbox  node-key="id" :props="{label: 'name'}" :data="AuthorData" @check-change="handleCheckChange">
        </el-tree>
        <div style="margin-top:20px; text-align:right;">
            <el-button @click="Disappear">取 消</el-button>
            <el-button type="primary" @click="Addauthoriaztion">保 存</el-button>
        </div>
    </div>
</template>
<script>
import axios from '@/views/Authorization/authorization'
import moment from "moment";
export default {
    props:["orderId"],
    data () {
        return {
            AuthorData: [],
            Roledata: [],
        }
    },
   created(){
       this.AuthorDatas()
   },
   watch:{
       orderId(){
           this.AuthorDatas()
       }
   },
   methods:{
       // 保存按钮事件
       Addauthoriaztion () {
           axios.Roleauthorization(this.Roledata,this.orderId).then(res => {
               this.$message({
                    message: res.data.statusMessage,
                    type: 'success'
                });
               this.Disappear()
           })
       },
       // 弹框消失事件
       Disappear () {
           this.$emit('Disappearname',false)
       },
        //查询授权所有功能,以及角色所授权的功能
       AuthorDatas () {
           axios.Roleauthor (this.orderId) .then(res => {
               this.$refs.tree.setCheckedKeys(res.data)
           })
           axios.Information ().then(res => {
               this.AuthorData = res.data
           })
       },
       //选中获取到的id数组
       handleCheckChange () {
           this.Roledata = this.$refs.tree.getCheckedKeys()
       },
   }
};
</script>
<style>
.el-tree-node__label{
    font-size: 16px;
}
</style>
